[MASTER]
# Python version
py-version=3.11

# Directories/files to ignore
ignore=tests,venv

[MESSAGES CONTROL]
# Disable specific pylint warnings
#  missing-docstring: C0114, C0115, C0116
disable=missing-docstring, invalid-name, too-few-public-methods

[FORMAT]
# Maximum line length
max-line-length=120

[BASIC]
# Naming styles
variable-naming-style=snake_case
function-naming-style=snake_case
class-naming-style=PascalCase
const-naming-style=UPPER_CASE

[DESIGN]
# Maximum number of arguments for a function
max-args=5
# Maximum number of attributes per class
max-attributes=10
